tiktoken
langchain_community
langchain-openai
langchainhub
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
langchain
groq
bs4
selenium
webdriver-manager
requests
pymupdf
sentence-transformers
pandas
numpy==1.26.4